package ui

import "github.com/gobugger/gomarket/internal/support"

templ Faq(tc *TemplateContext, faqs []support.Faq) {
	@Layout(tc) {
		<div class="form--basic mw-l">
			for _, faq := range faqs {
				<div class="form__field">
					<label class="bold">{ faq.Question }</label>
					<pre class="display-text">{ faq.Answer }</pre>
				</div>
			}
		</div>
	}
}
