.txt-s {
	font-size: var(--font-size-secondary);
}

.orders {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	min-width: min(840px, 90vw);
	max-width: 1280px;
}

.order-item {
	display: block;
	margin-top: 16px;
	padding: 0px 24px 16px;
	background-color: var(--bg-light);
}

.order-item-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--bg-dark);
	padding: 16px 0px;
}

.order-item-body {
	display: flex;
	justify-content: space-between;
}

.order-item-img {
	width: 100px;
}

@media (max-width: 64em) {
	.order-item-header {
		flex-direction: column;
	}

	.order-item-body {
		flex-direction: column;
	}
}
